<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

    <display-name>StoreWebsite</display-name>

    <!-- Home page is the welcome file -->
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>

    <!-- Product Servlet -->
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>

    <!-- Order Servlet -->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>

    <!-- View Orders Servlet -->
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/ViewOrdersServlet</url-pattern>
    </servlet-mapping>

</web-app>
